.products {
    li {
        @extend .mb-4;
    }
}

.product-card {
    @extend .d-flex, .flex-column, .p-3, .pb-4, .rounded-lg, .shadow-sm;

    height: 100%;

    &:hover {
        background: linear-gradient(0, #f1f4f5, transparent 41%, transparent);
    }

    img {
        @extend .mx-auto, .d-block, .rounded, .mb-3;

        max-width: 100%;
    }

    .product-body {
        @extend .mt-auto, .text-center;
    }

    .product-price {
        small {
            line-height: 1.3;

            @include media-breakpoint-only(xs) {
                display: block;
                margin-top: 3px;
            }
        }
    }

    h2 {
        @extend .mb-1, .text-dark;

        @include font(19px);
    }

    .counter {
        @extend .mx-auto, .mt-3;

        max-width: 120px;
    }
}
