$primary: #3896AB;
// $secondary: #ED604D;

$font-family-base: Poppins, sans-serif;
$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;
$link-hover-decoration: none;
$grid-gutter-width: 40px;
$form-grid-gutter-width: 20px;
$navbar-padding-x: 20px;
$navbar-nav-link-padding-x: .6rem;
$modal-inner-padding: 1.8rem;

// // $link-color: black;
// $close-font-weight: 400;
// $input-border: 5px;
// $dropdown-padding-y: 0;
// $dropdown-border-radius: 0;
// $dropdown-border-width: 0;

// $nav-link-padding-x: 20px;
// $nav-link-padding-y: 0.938rem;

// $breadcrumb-padding-y: 15px;
// $breadcrumb-border-radius: 0;
// $breadcrumb-bg: transparent;
// $breadcrumb-margin-bottom: 0;
// $breadcrumb-divider: quote("»");

// $modal-header-border-width: 0;
// $modal-content-border-width: 0;
// $modal-content-border-radius: 4px;

// $popover-font-size: 15px;
// $popover-body-padding-y: 15px;
// $popover-body-padding-x: 15px;

// $btn-padding-x-lg: 38px;
// $btn-white-space: nowrap;

// $label-margin-bottom: .3rem;
// $input-btn-focus-width: 0;
// $custom-control-indicator-size: 1.19rem;
// $custom-control-indicator-border-color: #707070;
// $custom-control-indicator-focus-border-color: #0BA14A;
// $custom-control-indicator-checked-bg: white;
// $custom-control-indicator-checked-color: #0BA14A;
// $custom-control-indicator-checked-border-color: #0BA14A;
// $custom-control-indicator-active-bg: rgb(225, 248, 234);
// $custom-control-indicator-active-border-color: #0BA14A;
// $custom-checkbox-indicator-border-radius: 3px;

// // Swiper
// $themeColor: silver;
// $swiper-bullet-bg: #efc00f;

// $home-bg: transparent linear-gradient(180deg, #e5eaec 0%, #ffffff 100%) 0% 0% no-repeat;

// $products-aside-link-active-color: #0ba14a;

// $cart-button-bg: #0BA14A;
// $cart-button-color: white;

// $product-label1-bg: #ef8e0f;
// $product-label1-color: white;
// $product-label2-bg: #0ba14a;
// $product-label2-color: white;
// $product-proceed-button-bg: #0BA14A;
// $product-proceed-button-color: white;

// $contact-input-border-color: #707070;
// $contact-btn-bg: #efc00f;
// $contact-btn-color: white;
