$primary: #3896ab;
$danger: #EF5645;
$font-family-base: Poppins, sans-serif;
$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;
$link-hover-decoration: none;
$grid-gutter-width: 40px;
$form-grid-gutter-width: 20px;
$navbar-padding-x: 20px;
$navbar-nav-link-padding-x: 0.6rem;
$modal-inner-padding: 1.8rem;
$label-margin-bottom: 0;
$input-btn-focus-width: 0;
$input-border-color: $primary;
$input-focus-border-color: #343a40;
